.keyboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 799px;
  padding-top: 27px;
  background: url('../../../i/stone.png');
  background-size: 82%;
  background-color: #090f0a;
  border: solid 5px #363636;
  border-radius: 47px 47px 3px 3px;
  box-shadow: 0 10px 9px #272727;
  transition: transform 2s;
}

.green {
  border-top: solid 7px #6e6e6e;
  border-right: solid 2px #000;
  border-bottom: solid 3px #000;
  border-left: solid 2px #000;
}

.green-key {
  height: 291px;
  width: 91px;
  background: url('../../../i/ivory.png');
  background-color: #6e6e6e;
  border: solid 1px #000;
  border-bottom: solid 6.9px #2e2e2e;
  transition: background-color 3s, border 3s;
}

.green-key-on {
  background-color: #34ee5c;
  border: solid 1px purple;
  border-bottom: solid 6.9px #207c34;
}

.black {
  display: flex;
}

.two {
  position: relative;
  right: 91px;
  bottom: 293.5px;
}

.three {
  position: relative;
  bottom: 293.5px;
}

.black-key {
  height: 176.5px;
  width: 45px;
  background: url('../../../i/stone.png');
  background-size: cover;
  background-color: black;
  border-top: none;
  border-right: solid 2px #272727;
  border-left: solid 2px #272727;
  border-bottom: solid 5px #2e2e2e;
  margin: 0 23px;
}

.green-key:hover,
.black-key:hover {
  cursor: pointer;
}

.keypress-off {
  animation: pressKeyOff 1s ease-out 0s 1;
}

@keyframes pressKeyOff {
  0% {filter: brightness(100%)}
  50% {filter: brightness(70%)}
  100% {filter: brightness(100%)}
}

.keypress-on {
  animation: pressKeyOn 1s ease-out 0s 1;
}

@keyframes pressKeyOn {
  0% {background-color: #34ee5c;}
  50% {background-color: #27b145;}
  100% {background-color: #34ee5c;}
}

.buttons {
  position: relative;
  bottom: 148px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 715px;
}

.sound-button {
  background: url('../../../i/ivory.png');
  background-color: #919191;
  border-top: solid 2.5px #6e6e6e;
  border-right: solid 2.5px #272727;
  border-bottom: solid 5px #6e6e6e;
  border-left: solid 2.5px #6e6e6e;
  border-radius: 3px;
  margin-right: 15px;
  transition: background-color 3s, border 2s;
}

.onion-button {
  position: relative;
  top: 0.5px;
  width: 18px;
  transition: filter 3s;
}

.onion-button-on {
  background-color: #34ee5c;
}

.strong-btn {
  position: relative;
  top: 1px;
  height: 21px;
  width: 21px;
}

.strong-btn-on {
  filter: invert(40%) saturate(300%) contrast(175%);
}

.power {
  background: url('../../../i/ivory.png');
  background-color: #919191;
  width: 33px;
  height: 33px;
  border-top: solid 2.5px #6e6e6e;
  border-right: solid 2.5px #272727;
  border-bottom: solid 4px #6e6e6e;
  border-left: solid 2.5px #6e6e6e;
  border-radius: 100%;
  transition: background-color 3s, border 2s;
}

.power-on {
  background-color: purple;
  border: solid 2.5px #272727;
  border-bottom: solid 5px #6e6e6e;
}

.instrument-selectah {
  background-color: purple;
  border: solid 2.5px #272727;
  border-bottom: solid 5px #6e6e6e;
}

.sound-button:hover,
.power:hover {
  cursor: pointer;
}

.green-key:focus,
.black-key:focus,
.sound-button:focus,
.power:focus {
  outline: none;
}

@media (max-width: 833px) {
  .keyboard {
    width: 619px;
    padding-top: 28px;
    height: 399px;
    background-size: 85%;
    border-radius: 40px 40px 3px 3px;
  }

  .green {
    border-top: solid 5px #6e6e6e;
  }

  .green-key {
    width: 71px;
    height: 235px;
  }

  .two {
    right: 70px;
    bottom: 238.7px;
  }

  .three {
    position: relative;
    bottom: 238.7px;
  }

  .black-key {
    width: 35px;
    height: 145px;
    margin: 0 18px;
  }

  .buttons {
    position: relative;
    bottom: 123px;
    width: 555px;
  }

  .sound-button {
    margin-right: 12.5px;
  }

  .onion-button {
    width: 15.5px;
  }

  .strong-btn {
    height: 15.5px;
    width: 15.5px;
  }

  .power {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 644px) {
  .keyboard {
    width: 439px;
    padding-top: 24.5px;
    height: 308px;
    background-size: 95%;
    border-radius: 29px 29px 3px 3px;
  }

  .green {
    border-top: solid 4px #6e6e6e;
  }

  .green-key {
    width: 51px;
    height: 184px;
  }

  .two {
    right: 51px;
    bottom: 187.5px;
  }

  .three {
    position: relative;
    bottom: 187.5px;
  }

  .black-key {
    width: 25px;
    height: 113px;
    margin: 0 13px;
  }

  .buttons {
    position: relative;
    bottom: 97px;
    display: flex;
    justify-content: space-between;
    width: 395px;
  }

  .sound-button {
    margin-right: 10px;
  }

  .onion-button {
    width: 10px;
  }

  .strong-btn {
    height: 10px;
    width: 10px;
  }

  .power {
    width: 29px;
    height: 29px;
    padding-left: 5.5px;
  }
}

@media (max-width: 450px) {
  .keyboard {
    transform: rotate(90deg);
    position: relative;
    left: 1%;
  }
}
